.account-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .profile-section {
    text-align: center;
    margin-bottom: 20px;
  }
  .profile-section img{
    border: 3px solid black;
  }
  .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .info-section {
    width: 100%;
    max-width: 600px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .info-section h2 {
    margin-top: 0;
  }
  
  .info-section p {
    margin: 10px 0;
  }
  
  .info-section ul {
    list-style: none;
    padding: 0;
  }
  
  .info-section ul li {
    background: #f1f1f1;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  @media (max-width: 600px) {
    .info-section {
      width: 90%;
    }
  }
  